<div class="container">
    <div class="row">
        <h2>My name is Guillermo Hernandez Jr and I'm a Front End Developer in Austin, TX.</h2> I can build a professional website for your startup or small business from start to finish. On this site, you can learn <a href="http://memohernandez.com/about-me/">about me</a>, view my <a href="http://memohernandez.com/category/graphic-design/">graphic design</a>,
        <a href="http://memohernandez.com/category/web-design/">web design</a>, or <a href="http://memohernandez.com/web-development/">web development projects</a>.
        <div class="panel">
            <p class="text-center">Send me an <a href="http://memohernandez.com/contact/">email</a> if you're interested in working together.</p>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->