<div class="navbar bg-base-100 py-4">
  <div class="flex-1"></div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 font-bold">
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>
</div>
