<div class="page-header text-center">
  <h1>HOME</h1>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-2"><img src="/images/gandv.jpg" class="img-responsive"></div>
    <div class="col-md-3">
      <h3>My name is Guillermo Hernandez Jr and I’m a front end web developer&nbsp;who lives with my dog, Jean-Claude Van Damme, on the east side of Austin, TX.<br>
When I’m not in front of a computer creating, you can find me behind a drum set or chasing after my dog at the park.</h3>
    </div>
  </div>
</div>
</div>
